<h1 class="title-header">Admin's Workspace</h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#user">Users</a></li>
  <li><a data-toggle="tab" href="#client">Clients</a></li>
</ul>

<div class="tab-content">

  <div id="home" class="tab-pane fade in active">
    <h3 class="title-header">HOME</h3><br>
    <h4>Welcome Admin !</h4>
  </div>

  <div id="user" class="tab-pane fade">
    <%= render 'users_tab' %>
  </div>

  <div id="client" class="tab-pane fade">
    <%= render 'clients_tab' %>
  </div>

</div>
