@import "bootstrap-sprockets";
@import "bootstrap";

.username {
  color: #8494ec;
  margin-top: 16px;
  font-variant: small-caps;
  padding-right: 25px;
}

.margin-btm-5 {
  margin-bottom: 30px;
}

.glyphicon {
  padding-right: 7px;
}

.navbar {
  border-radius: 0px;
}

table {
  table-layout: fixed;
}

.alert {
  display:inline-block;
  margin-left: 200px;
}

.add-payment-button {
  float: right;
  margin-bottom: 45px;
}
