@import "bootstrap-sprockets";
@import "bootstrap";

.username {
  color: #8494ec;
  margin-top: 16px;
  font-variant: small-caps;
  padding-right: 25px;
}

.margin-btm-5 {
  margin-bottom: 30px;
}

.glyphicon {
  padding-right: 7px;
}
