.container {
  width: 40%;
  margin: 0 auto;
}

.form-control {
  width: 70%;
  margin: 0 auto
}

.label-space {
  margin-left: 15%;
}

.btn-space {
  margin-left: 39%;
}

.title-header {
  text-align: center;
}

.add-client-btn {
  float: right;
  margin-right: 50px;
}

.thumbnail {
  border: 1px solid black;
}

.client-icon {
  font-size: 75px;
  float: right;
}

.action {
  text-align: center;
}

.profile-pic {
  font-size: 75px;
  border-radius: 50%;
  border: 1px solid black;
  float: right;
}

.browse-button {
  margin-left: 15%;
}

.error-body {
  margine-left: 40%;
}
