.container{
  width: 40%;
  margin: 0 auto;
}

.form-control{
  width: 70%;
  margin: 0 auto
}

.label-space{
  margin-left: 15%;
}

.btn-space{
  margin-left: 39%;
}

.title-header{
  text-align: center;
}
